body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f0efee;
  }
  .heading{
    width: 303px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.wellbeing {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #737373;
  }
  span.marker {
    color: #2553c9;
    font-weight: bold;
    background: linear-gradient(transparent 50%, rgba(255, 246, 110,0.8) 50%);
    padding-bottom: 0.3em;
  }
    
  .marker{
    
    /* マーカーを引く
    rgba(255, 153, 0,0.5) の部分はマーカーの色を指定しています。
    実装される際は、お好きな色、透明度をお入れ下さい。 */
    background:linear-gradient(transparent 50%, rgba(255, 246, 110,0.5) 50%); /* マーカーを引く */
    /* インライン属性を指定する */
    display: inline;
    /* 背景の繰り返しを停止 */
    background-repeat: no-repeat;
    /* マーカーの横方向を0にして縮める */
    background-size: 0% 100%;
    /* マーカーが引かれる速度を指定 */
    transition: marker 1.5s;
    }
    /* マーカーが引かれる際に付与するクラス */
    .marker.on {
    /* 横方向を100%にして、マーカーを引く */
    background-size: 100% 100%;
  }
  .box {
  width: 303px;
  height: 192px;
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
  background-color: white;
  }
  .label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2553c9;
  font-size: 24px;
  padding: 0 4px;
  line-height: 1;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  }
  .content p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #737373;
  text-align: center;
  line-height: 1.6;
  }
  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 6px;
    background-color: #737373;
  }
  .carousel-inner{
    height: 280px;
  }
